# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/
ENV/

# Django specific
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Logs
*.log

# Sensitive environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db
